.layout img {
  max-width: 90%;
  align-content: center;
  max-width: 1000px; /* Adjust this value to your desired maximum width */
  margin: 0 auto; /* Centers the image horizontally */
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.imageContainer img {
  display: block;
  margin: 0 auto;
  width: 700px;
}
.layout h1,
.layout h2 {
  text-align: center;
}
